# Application
PORT=3000

# Temporal
TEMPORAL_ADDRESS=localhost:7233

# Redis
REDIS_URL=redis://localhost:6379

# Supplier URLs (used by Temporal activities)
SUPPLIER_A_URL=http://localhost:3000/supplierA/hotels
SUPPLIER_B_URL=http://localhost:3000/supplierB/hotels
